@charset "utf-8";

$buefy-custom-colors: (
  "secondary": hsl(210deg, 30%, 90%),
  "accent": hsl(175deg, 65%, 48%),
) !default;

@use "@fortawesome/fontawesome-free/scss/_variables" with (
  $font-path: "/fonts"
);

@use "@fortawesome/fontawesome-free/scss/fontawesome" as *;
@use "@fortawesome/fontawesome-free/scss/regular" as *;
@use "@fortawesome/fontawesome-free/scss/solid" as *;
@use "@fortawesome/fontawesome-free/scss/brands" as *;


@forward "bulma/sass" with (
  $primary: hsl(224deg, 76%, 48%),
  $background: hsl(240deg, 60%, 99%),
  $text: hsl(219deg, 52%, 10%),
  $link: hsl(224deg, 76%, 48%),
    $custom-colors: $buefy-custom-colors,
);

// Import Buefy styles
@use "buefy/src/scss/buefy";
