---
import HomeLayout from '@layouts/HomeLayout.astro';
---

<HomeLayout title="404 Not Found" image="" description="" contentType="website">
	<div>
		<p>This page was not found😅</p>
	</div>
</HomeLayout>