---
import HomeLayout from '@layouts/HomeLayout.astro';
---

<HomeLayout title="Blog · wesdevpro" image="/public/image/misc/hero-image.jpg" description="" contentType="website">
	<div>
		<p>Hello World</p>
	</div>
</HomeLayout>