<div class="h-screen flex text-white bg-home-hero bg-cover text-center">
  <div class="m-auto p-5">
    <h1 class="text-6xl font-bold">Welcome!</h1>
    <p>
      My website is currently under construction, but it will be up and running
      soon. In the meantime, please check back or follow me on social media for
      updates. My apologies for any inconvenience this may cause, and appreciate
      your patience and understanding. Have a great day 😅
    </p>
  </div>
</div>
