---
import HomeLayout from '@layouts/HomeLayout.astro';
---

<HomeLayout title="Home · wesdevpro" image="test2" description="test" contentType="website">
   <h1>Hello Middle of Layout</h1>
</HomeLayout>
