---
import HomeLayout from '@layouts/HomeLayout.astro';
import HomeHero from '@components/HomeHero.astro';
import BlogCard from '@components/blog/BlogCard.astro'
---

<HomeLayout title="Home · wesdevpro" image="test2" description="test" contentType="website">
    <HomeHero />
    <section class="wesdevpro-container wesdevpro-is-fluid">
        <BlogCard class="m-a" />
    </section>
</HomeLayout>
