// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import '@fortawesome/fontawesome-svg-core/styles.css';
// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Fonts
$family-sans-serif: "Roboto", sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $family-sans-serif;
}
// Set your colors
$primary: #2d2d2a;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);
// Navbar Styles
$navbar-item-color: $primary;
$navbar-item-hover-color: #26CFD9;
$navbar-item-hover-background-color: #fcfcfc;
$navbar-burger-color: $primary;
$scheme-invert: #00699C;
$navbar-padding-vertical: 3rem;
$navbar-padding-horizontal: 3rem;
// Footer Styles
$footer-background-color: #ffffff;
$footer-color: $primary;
// Link styles
$link:#3273dc;
// There are more other styles and variables here.

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";